In [15]:
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss

## ロジスティック回帰

In [4]:
df = sns.load_dataset('titanic')
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [5]:
df = df.dropna()
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [17]:
X = df.loc[:, (df.columns != 'survived') & (df.columns != 'alive')]
X = pd.get_dummies(X, drop_first=True)
y = df['survived']

# hold-out
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)
log_loss(y_test, y_pred_proba)

/Users/urakamitakuya/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.41115918930252854

In [23]:
# 最急降下法で計算された最適なθの値が入っている。
model.coef_

array([[-0.29622138, -0.02131253,  0.6229632 , -0.37394651,  0.00478595,
        -0.88716357,  0.17502051,  0.38872866, -0.40465199, -0.02317805,
        -0.45332114, -0.40482958, -0.88716357,  1.21204354, -0.11131959,
        -1.20772915, -0.14172253,  0.61111426, -0.13073641, -0.55175604,
        -0.40465199, -0.02317805]])

In [24]:
# ラベルの確率p(X)を取得
y_pred_proba

array([[0.29389548, 0.70610452],
       [0.7973924 , 0.2026076 ],
       [0.06989747, 0.93010253],
       [0.05927881, 0.94072119],
       [0.72739531, 0.27260469],
       [0.55988998, 0.44011002],
       [0.23460559, 0.76539441],
       [0.11841285, 0.88158715],
       [0.02387427, 0.97612573],
       [0.05005333, 0.94994667],
       [0.72376218, 0.27623782],
       [0.05473635, 0.94526365],
       [0.08547183, 0.91452817],
       [0.05005333, 0.94994667],
       [0.50643326, 0.49356674],
       [0.20945305, 0.79054695],
       [0.48460133, 0.51539867],
       [0.12854126, 0.87145874],
       [0.19896075, 0.80103925],
       [0.64541038, 0.35458962],
       [0.13487183, 0.86512817],
       [0.17324192, 0.82675808],
       [0.05864182, 0.94135818],
       [0.14777424, 0.85222576],
       [0.29497844, 0.70502156],
       [0.77584867, 0.22415133],
       [0.51416126, 0.48583874],
       [0.33575608, 0.66424392],
       [0.36620494, 0.63379506],
       [0.67717588, 0.32282412],
       [0.66356894, 0.33643106],
       [0.16912851, 0.83087149],
       [0.09294485, 0.90705515],
       [0.23400611, 0.76599389],
       [0.07656036, 0.92343964],
       [0.07018131, 0.92981869],
       [0.0539826 , 0.9460174 ],
       [0.05460879, 0.94539121],
       [0.6384111 , 0.3615889 ],
       [0.50262998, 0.49737002],
       [0.29913131, 0.70086869],
       [0.06337704, 0.93662296],
       [0.40298191, 0.59701809],
       [0.08731887, 0.91268113],
       [0.83800707, 0.16199293],
       [0.06700947, 0.93299053],
       [0.13442962, 0.86557038],
       [0.79008621, 0.20991379],
       [0.34306553, 0.65693447],
       [0.36837216, 0.63162784],
       [0.37395731, 0.62604269],
       [0.05838704, 0.94161296],
       [0.55991552, 0.44008448],
       [0.02654381, 0.97345619],
       [0.0676829 , 0.9323171 ]])

## 多クラス分類のロジスティック回帰

In [25]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### OVR

In [33]:
y_col = 'species'
y = df[y_col]
X = df.loc[:, df.columns != y_col]

# hold-out
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

model = LogisticRegression(penalty='none', multi_class='ovr')
model.fit(X_train, y_train)
y_pred_ovr = model.predict_proba(X_test)
print(model.classes_)
print(model.intercept_)
print(model.coef_)

['setosa' 'versicolor' 'virginica']
[   1.11952961    6.81324426 -255.9966797 ]
[[ 1.91635746e+00  6.80805390e+00 -1.08014054e+01 -5.01387880e+00]
 [-4.15059756e-01 -2.43651049e+00  1.48863127e+00 -3.08728666e+00]
 [-3.59713655e+02 -2.82241847e+02  5.44953421e+02  3.64284106e+02]]

/Users/urakamitakuya/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:1182: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(

### multinomial

In [35]:
model = LogisticRegression(penalty='none', multi_class='multinomial')
model.fit(X_train, y_train)
y_pred_mn = model.predict_proba(X_test)
print(model.classes_)
print(model.intercept_)
print(model.coef_)

['setosa' 'versicolor' 'virginica']
[  80.23761629  129.79120491 -210.0288212 ]
[[ 155.59730704  358.7383253  -523.9381148  -248.11592076]
 [ 118.20298382  -15.08081903  -41.54669897  -91.1101831 ]
 [-273.80029086 -343.65750627  565.48481376  339.22610386]]

/Users/urakamitakuya/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:1182: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(

In [37]:
y_pred_ovr[:10]

array([[2.52308411e-016, 8.82201826e-002, 9.11779817e-001],
       [1.28141183e-009, 9.99999999e-001, 5.98425071e-214],
       [9.85945513e-001, 1.40544866e-002, 0.00000000e+000],
       [2.82376791e-019, 3.87069863e-001, 6.12930137e-001],
       [8.87568928e-001, 1.12431072e-001, 0.00000000e+000],
       [7.38900210e-019, 6.30771165e-002, 9.36922884e-001],
       [9.44848969e-001, 5.51510306e-002, 0.00000000e+000],
       [3.42654652e-010, 1.00000000e+000, 2.70303593e-188],
       [1.45180559e-011, 1.00000000e+000, 1.29140525e-159],
       [4.98401002e-008, 9.99999950e-001, 2.86460708e-255]])

In [36]:
y_pred_mn[:10]

array([[0.00000000e+000, 3.17554406e-259, 1.00000000e+000],
       [0.00000000e+000, 1.00000000e+000, 2.66324223e-242],
       [1.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 8.28118090e-194, 1.00000000e+000],
       [1.00000000e+000, 1.68088346e-284, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 1.00000000e+000, 6.49402859e-212],
       [0.00000000e+000, 1.00000000e+000, 1.86860319e-178],
       [0.00000000e+000, 1.00000000e+000, 7.06808734e-289]])